.product {
    background-color: #fff;
}

.nav {
    width: 1170px;
    background-color: white;
    margin: 0 auto;
}

.nav-list {
    list-style: none;
    padding: 0 50px;
    margin: 0;
    overflow: hidden;
}

.nav-list>li {
    height: 333px;
    margin-right: 45px;
    float: left;
}

.data-img {
    width: 490px;
    height: 235px;
}

img {
    width: 100%;
    height: 100%;
}

.title {
    height: 30px;
    font-size: 20px;
    text-align: left;
    line-height: 30px;
    margin-top: 15px;
    color: black;
    font-weight: bold;
}

.not-data{
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 14px;
  color: #666;
  display: none;
}


